html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow: hidden;
}

.apiDiv {
  display: auto;
  height: 100vh;
  width: 100vh;
  text-align: center;
}

.collapseDiv {
  display: flex;
  padding-right: 20px;
  justify-content: end;
  vertical-align: middle;
}